# .github > workflows > deploy.yml
name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Setup pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build dependencies
        run: |
          pnpm build:51la
          pnpm build:image-preview
          pnpm build:announcement
          pnpm build:shared
          pnpm build:pagefind
          pnpm build:rss
          pnpm buildTheme

      - name: Build
        run: pnpm --filter blogpress build

      - name: Prepare deployment
        run: |
          cp .nojekyll packages/blogpress/.vitepress/dist/.nojekyll
          rm -rf packages/blogpress/.vitepress/dist/.jekyll-* packages/blogpress/.vitepress/dist/_* packages/blogpress/.vitepress/dist/Gemfile*
          find packages/blogpress/.vitepress/dist -name "*.md" -type f -delete
          rm -rf packages/blogpress/.vitepress/dist/packages

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: packages/blogpress/.vitepress/dist
          publish_branch: gh-pages
          full_commit_message: ${{ github.event.head_commit.message }}
          force_orphan: true
